.container{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
   
}



.item{
    background-color:rgb(209, 11, 11);
    margin: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    padding: 10px;
    height:100px;
}

h1{
    text-align: center;
    color: white;
    background-color:rgb(6, 59, 204);
}

.item1{
    grid-column-start: 1;
    grid-column-end:3;
}

.item3{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item6{
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 3;
}

.item4{
   grid-row-start: 5;
   grid-row-end: 6;
   grid-column-start:3;
   grid-column-end:4;
}

.item7{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start: 4;

}

.item8{
    grid-column-start: 1;
    grid-column-end: 3;
}

